/*
#page:-webkit-full-screen
{
  width: 100% !important;
}
#page:-moz-full-screen
{
  width: 100% !important;
}
:-webkit-full-screen .tohide
{
  display: none;
}
:-moz-full-screen .tohide
{
  display: none;
}
*/